body {
	background: url("../img/noise_bg.png") repeat;
	padding: 0;
}
.clear {
	clear:both;
}
.centered {
	margin: 0 auto;
}
/* Header Navigation */

.brand img {
	height: 60px;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-inner {
	background: url("../img/red-nav.png") repeat;
	border: none;
	border-radius: 0px;
	color: #dbdbdb;
	border-bottom:1px solid #ccc;
}
.navbar-inner .container {
	max-width: 960px;
	margin: 0 auto;
}

.navbar .nav {
	margin-top: 15px;
}

.navbar .nav > li > a  {
	color: #dbdbdb;
	font-size: 12px;
	font-weight: 500;
	text-shadow: none;
}

.navbar .brand {
	color: #dbdbdb;
	text-shadow: none;
}
.navbar .btn-navbar {
	background: red url("../img/waves_bg_light.png") repeat;
	margin-top: 25px;
}
.navbar .btn-navbar .icon-bar {
	color: #dbdbdb;
}
.navbar .nav > li > a {
	border-radius: 3px;
	margin: 5px 0;
}
.navbar .nav > li > a:hover {
	color: #eee;
	background: red url("../img/waves_bg_light.png") repeat;
}

/* Footer */
.footer_container {
	background: url("../img/noise_bg_dark.png") repeat;
	width: 100%;
	margin: 80px 0 20px 0;
}
.footer {
	max-width: 900px;
}

.footer_content h4 {
	color: white;
	text-shadow: 0 0 1px #999;
	font-weight: 300;
}
.footer_content h4 {
	color: white;
	font-weight: 300;
	letter-spacing: 1px;
}
.footer_content h5 {
	font-size: 12px;
	line-height: 14px;
	margin-left: 10px;
	color: white;
	text-shadow: 0 0 1px #999;
}
.footer_content {
	text-align: left;
}
.footer_content ul {
	list-style-type: none;
	margin-top: -5px;
}
.footer_content ul i {
	color: white;
	margin-right: 5px;
}
.footer_content ul li {
	margin-left: -20px;
}
.footer_content ul li a{
	color: white;
	font-size: 12px;
}
.footer_content ul li a:hover{
	color: #324852;
	text-decoration: none;
}
/* Page Logo */
.page_logo {
	width: 280px;
	margin: 0 auto;
	text-align: center;
}
.page_logo img {
	width: 140px;
	font-size: 18px;
	color: #aaa;
}
.page_logo h4 {
	color: #999;
	font-size: 12px;
}

/*Custom Button Formatting */


/*Reddish button*/
.btn-custom-red { background-color: hsl(0, 69%, 22%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111"); background-image: -khtml-gradient(linear, left top, left bottom, from(#b42121), to(#5e1111)); background-image: -moz-linear-gradient(top, #b42121, #5e1111); background-image: -ms-linear-gradient(top, #b42121, #5e1111); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42121), color-stop(100%, #5e1111)); background-image: -webkit-linear-gradient(top, #b42121, #5e1111); background-image: -o-linear-gradient(top, #b42121, #5e1111); background-image: linear-gradient(#b42121, #5e1111); border-color: #5e1111 #5e1111 hsl(0, 69%, 17%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; }