.container-custom {
	margin: 40px auto;
	max-width: 960px;
	text-align: center;
}
.container-custom h2 {
	margin-bottom: 30px;
}
.container-custom .infobox {
	border: 13px solid #dbdbdb;
	min-height: 245px;
	padding-top: 30px;
	margin-bottom: 20px;
}
.container-custom .infobox i {
	font-size: 48px;
	color: #49a942;
}