.solutions h1 {
	color: #4f4f4f;
	font-size: 36px;
	font-family: proxima-nova,Arial,sans-serif;
	font-weight: 600;
	letter-spacing: .5px;
	line-height: 30px;
	padding-top: 30px;
}

.solutions .header {
	text-align: center;
	margin: 0px auto;
	padding: 0;
}
.feature {
	margin: 40px 0;
}
.border {
	border: 10px solid #ccc;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}

.border .span6 h3 {
	padding: 20px 0 0 20px;
	margin: 0;
	text-align: center;
	font-size: 20px;
	color: #555;
}
.border .text {
	padding: 20px 20px 20px 20px;
}
.border .span-img {
	text-align: right;
}